[Unit]
Description=Fake camera
After=network.target

[Service]
Type=simple
# specify working directory such as Git project directory
# %h expands to the $HOME directory of the user running the service
WorkingDirectory=/home/sandwich/Stuff/Git/Linux-Fake-Background-Webcam
# you can use command line options here, or point the script
# to your config file
ExecStart=python fake.py -c %h/.config/fakecam/config.ini
# fake.py exits when pressing Ctrl + \ which corresponds to SIGQUIT
# so we need to specify this kill signal instead of SIGINT
KillSignal=SIGQUIT

[Install]
WantedBy=default.target

